:root {
  /* Palette */
  --white: #fdfdff;
  --paper-white: #f2f2f2;
  --light-gray: #c4c6c7;
  --dark-gray: #7d7e7f;
  --black: #0d0d0d;
  --yellow: #f2b705;
  --green: #91bf63;
  --red: #c53a50;
  --outline-color: #d71ef7;
  /* Font */
  --serif: "Suez One", serif;
  --sans: "Secular One", sans-serif;
  --font-size: 1rem;
  /* Animation */
  --typing-speed: 50ms;
  --flip-speed: 0.5s;
  --shake-speed: 300ms;
  --shake-offset: 2.5px;
  --win-offset: 2.5rem;
  --win-speed: 300ms;
  --win-interval: 100ms;
  /* Sizing */
  --header-height: 42px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--paper-white);
  color: var(--black);
  font-family: var(--sans);
  font-size: var(--font-size);
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Universal Focus Indicator */

*:focus {
  outline: 2px solid var(--outline-color);
}

/* Reduced Motion */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
