:root {
  /* Color Palette */
  --black-100: #2e2e2e;
  --black-200: #0d0d0d;
  --gray-100: #c4c6c7;
  --gray-200: #7d7e7f;
  --gray-300: #4d4d4d;
  --green-100: #80d926;
  --green-200: #91bf63;
  --magenta-100: #ec7eff;
  --magenta-200: #d71ef7;
  --red-100: #ff405c;
  --red-200: #c53a50;
  --white-100: #fdfdff;
  --white-200: #f2f2f2;
  --yellow-100: #ffc71b;
  --yellow-200: #f2b705;

  /* Color Scheme */
  --bg-color: var(--white-100);
  --border-color: var(--gray-100);
  --button-color: var(--gray-200);
  --correct-color: var(--green-200);
  --error-color: var(--red-200);
  --incorrect-color: var(--gray-200);
  --inverted-text-color: var(--bg-color);
  --keyboard-color: var(--gray-100);
  --main-bg-color: var(--white-200);
  --outline-color: var(--magenta-200);
  --text-color: var(--black-200);
  --wrong-color: var(--yellow-200);

  /* Font */
  --font-size: 1rem;
  --sans-family: "Secular One", sans-serif;
  --serif-family: "Suez One", serif;

  /* Animation */
  --flip-speed: 0.5s;
  --shake-offset: 2.5px;
  --shake-speed: 300ms;
  --typing-speed: 50ms;
  --win-interval: 100ms;
  --win-offset: 2.5rem;
  --win-speed: 300ms;

  /* Sizing */
  --header-height: 42px;
  --button-size: 25px;
}

/* Normalization */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  line-height: 1.15;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--sans-family);
  font-size: var(--font-size);
  height: 100%;
}

p {
  margin: 1rem 0;
  line-height: 150%;
}

/* Universal Focus Indicator */

*:focus-visible {
  outline: 2px solid var(--outline-color);
}

/* Reduced Motion */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}

/* Color Dark Scheme */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black-100);
    --border-color: var(--gray-200);
    --button-color: var(--gray-100);
    --correct-color: var(--green-100);
    --error-color: var(--red-100);
    --incorrect-color: var(--gray-100);
    --keyboard-color: var(--black-100);
    --main-bg-color: var(--gray-300);
    --outline-color: var(--magenta-100);
    --text-color: var(--white-100);
    --wrong-color: var(--yellow-100);
  }

  a:visited {
    color: var(--green-100);
  }
}
