:root {
  /* Color Palette */
  --black: #0d0d0d;
  --dark-gray: #7d7e7f;
  --green: #91bf63;
  --light-gray: #c4c6c7;
  --magenta: #d71ef7;
  --paper-black: #333333;
  --paper-white: #f2f2f2;
  --red: #c53a50;
  --white: #fdfdff;
  --yellow: #f2b705;

  /* Color Light Scheme */
  --bg-color: var(--white);
  --border-color: var(--light-gray);
  --button-color: var(--light-gray);
  --correct-color: var(--green);
  --error-color: var(--red);
  --game-bg-color: var(--paper-white);
  --incorrect-color: var(--dark-gray);
  --inverted-bg-color: var(--text-color);
  --inverted-text-color: var(--bg-color);
  --outline-color: var(--magenta);
  --text-color: var(--black);
  --wrong-color: var(--yellow);

  /* Font */
  --font-size: 1rem;
  --sans-family: "Secular One", sans-serif;
  --serif-family: "Suez One", serif;

  /* Animation */
  --flip-speed: 0.5s;
  --shake-offset: 2.5px;
  --shake-speed: 300ms;
  --typing-speed: 50ms;
  --win-interval: 100ms;
  --win-offset: 2.5rem;
  --win-speed: 300ms;

  /* Sizing */
  --header-height: 42px;
  --button-size: 25px;
}

/* Normalization */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  line-height: 1.15;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--sans-family);
  font-size: var(--font-size);
  height: 100%;
}

p {
  margin: 1rem 0;
  line-height: 150%;
}

/* Universal Focus Indicator */

*:focus {
  outline: 2px solid var(--outline-color);
}

/* Reduced Motion */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
