@import "./base.css";
@import "./keyframes.css";

/* Header section */

header {
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
  padding: 5px 0;
}

/* Title */

header h1 {
  text-align: center;
}

header h1 span.yellow {
  color: var(--yellow);
}

header h1 span.green {
  color: var(--green);
}

header h1 span.gray {
  color: var(--dark-gray);
}

/* Styles for the grid layout */

.table {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.row {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.box {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  width: var(--box-size);
  height: var(--box-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for board */

.board {
  margin: 0 auto;
  padding: 1.5rem 0;
}

/* Styles for guesses */

.guess--invalid {
  animation: shake var(--shake-speed) cubic-bezier(0.22, 0.61, 0.36, 1);
}

.guess--invalid > [class*="letter"] {
  border: 1px solid var(--red);
  color: var(--red);
  transition: all calc(var(--shake-speed) / 2) ease-in;
}

/* Styles for letters */

[class*="letter"] {
  background-color: var(--white);
  border: 1px solid var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  animation: typing var(--typing-speed) ease-out;
}

.letter--flip {
  animation: flip var(--flip-speed) ease-in;
  transition: all 50ms calc(var(--flip-speed) / 2) ease-out;
}

.letter--correct {
  color: var(--white);
  background-color: var(--green);
}

.letter--wrong {
  color: var(--white);
  background-color: var(--yellow);
}

.letter--incorrect {
  color: var(--white);
  background-color: var(--dark-gray);
}

/* Responsive min-width: 425px */

@media (min-width: 425px) {
  /* Responsive board */

  .board {
    max-width: calc(var(--box-size-larger) * 5 + 20px);
  }

  /* Responsive box */

  .box {
    width: var(--box-size-larger);
    height: var(--box-size-larger);
  }
}
