@import "./base.css";
@import "./keyframes.css";

/* Header section */

header {
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}

/* Title */

header h1 {
  display: flex;
  font-family: var(--serif);
  justify-content: center;
}

header h1 span.yellow {
  color: var(--yellow);
}

header h1 span.green {
  color: var(--green);
}

header h1 span.gray {
  color: var(--dark-gray);
}

/* Styles for spinner */

.spinner {
  display: inline-block;
  margin-inline-start: -0.15rem;
}

.spinner--loading {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: ease-out;
}

/* Styles for the grid layout */

.table {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.row {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.box {
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--light-gray);
  display: flex;
  height: var(--box-size);
  justify-content: center;
  width: var(--box-size);
}

/* Styles for board */

.board {
  margin: 0 auto;
  padding: 1rem 0;
}

/* Styles for guesses */

.guess--invalid {
  animation: shake var(--shake-speed) cubic-bezier(0.22, 0.61, 0.36, 1);
}

.guess--invalid > [class*="letter"] {
  border: 1px solid var(--red);
  color: var(--red);
  transition-duration: calc(var(--shake-speed) / 2);
  transition-property: border, color;
  transition-timing-function: ease-in;
}

.guess--correct > [class*="letter"] {
  animation-delay: calc(var(--win-interval) * var(--i));
  animation-duration: var(--win-speed);
  animation-name: win;
  animation-timing-function: ease-in-out;
}

/* Styles for letters */

[class*="letter"] {
  animation: typing var(--typing-speed) ease-out;
  background-color: var(--white);
  border: 1px solid var(--black);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.letter--flip {
  animation: flip var(--flip-speed) ease-in;
  transition-delay: calc(var(--flip-speed) / 2);
  transition-duration: 50ms;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
}

.letter--correct {
  color: var(--white);
  background-color: var(--green);
}

.letter--wrong {
  color: var(--white);
  background-color: var(--yellow);
}

.letter--incorrect {
  color: var(--white);
  background-color: var(--dark-gray);
}

/* Responsive min-width: 425px */

@media (min-width: 425px) {
  /* Responsive header */

  header {
    padding: 5px 0;
  }

  /* Responsive board */

  .board {
    max-width: calc(var(--box-size-larger) * 5 + 20px);
    padding: 1.5rem 0;
  }

  /* Responsive guess */

  .guess {
    margin-bottom: 5px;
  }

  /* Responsive box */

  .box {
    height: var(--box-size-larger);
    width: var(--box-size-larger);
  }
}
