:host {
  /* Key Colors */
  --key-color: var(--vk-key-color, black);
  --key-bg-color: var(--vk-key-bg-color, lightgray);
  --key-outline-color: var(--vk-key-outline-color, magenta);
  --key-on-state-color: var(--vk-key-on-state-color, white);
  --key-correct-color: var(--vk-key-correct-color, limegreen);
  --key-wrong-color: var(--vk-key-wrong-color, gold);
  --key-incorrect-color: var(--vk-key-incorrect-color, gray);
}

/* Keyboard layout */

.keyboard-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 0 auto;
}

/* Keyboard rows */

.key-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
}

/* Keyboard keys */

.virtual-key {
  align-items: center;
  background-color: var(--key-bg-color);
  border-radius: 3px;
  border: 0;
  color: var(--key-color);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  min-height: 2.5rem;
  min-width: 1.5rem;
  padding: 0;
  text-transform: capitalize;
  transition-duration: 50ms;
  transition-property: min-height, min-width;
  user-select: none;
}

.virtual-key:focus {
  outline: 2px solid var(--key-outline-color);
}

@media screen and (min-width: 375px) {
  .virtual-key {
    min-height: 3rem;
    min-width: 2rem;
  }
}

.virtual-key.enter-key {
  font-size: 85%;
  font-weight: normal;
  min-width: 3rem;
}

@media screen and (min-width: 375px) {
  .virtual-key.enter-key {
    font-size: 90%;
  }
}

.virtual-key.backspace-key {
  min-width: 3rem;
}

/* Feedback states */

.virtual-key.correct {
  color: var(--key-on-state-color);
  background-color: var(--key-correct-color);
}

.virtual-key.wrong {
  color: var(--key-on-state-color);
  background-color: var(--key-wrong-color);
}

.virtual-key.incorrect {
  color: var(--key-on-state-color);
  background-color: var(--key-incorrect-color);
}
