/* Keyboard layout */

.keyboard-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 0 auto;
}

/* Keyboard rows */

.key-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
}

/* Keyboard keys */

.virtual-key {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 3px;
  border: 0;
  color: var(--black);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  min-height: 2.5rem;
  min-width: 1.5rem;
  padding: 0;
  text-transform: capitalize;
  transition-duration: 50ms;
  transition-property: min-height, min-width;
  user-select: none;
}

.enter-key {
  font-size: 85%;
  font-weight: normal;
  min-width: 3rem;
}

.backspace-key {
  min-width: 3rem;
}

/* Feedback states */

.virtual-key.correct {
  color: var(--white);
  background-color: var(--green);
}

.virtual-key.wrong {
  color: var(--white);
  background-color: var(--yellow);
}

.virtual-key.incorrect {
  color: var(--white);
  background-color: var(--dark-gray);
}

/* Responsive min-width: 375px */

@media (min-width: 375px) {
  /* Responsive keyboard keys */

  .virtual-key {
    min-height: 3rem;
    min-width: 2rem;
  }

  .enter-key {
    font-size: 90%;
    min-width: 3rem;
  }

  .backspace-key {
    min-width: 3rem;
  }
}
